.firewatch-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.firewatch-header {
  background-color: #b31b1b;
  padding: 20px;
  text-align: center;
  color: white;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.emergency-button {
  background-color: #b31b1b;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: none;
  cursor: pointer;
}

.bottom-nav {
  background-color: #b31b1b;
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

.profile-screen {
  flex: 1;
  background-color: #b31b1b;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}